<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".App"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <activity
      android:exported="true"
      android:launchMode="singleTask"
      android:name=".ui.MainActivity">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter android:label="@string/shortcut_take_note">
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />

    </activity>

    <activity android:name="org.qosp.notes.ui.media.MediaActivity" />

    <provider
      android:authorities="${applicationId}.provider"
      android:exported="false"
      android:grantUriPermissions="true"
      android:name="androidx.core.content.FileProvider">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_provider_paths" />
    </provider>
    <provider
      android:authorities="${applicationId}.androidx-startup"
      android:exported="false"
      android:name="androidx.startup.InitializationProvider"
      tools:node="merge">

      <meta-data
        android:name="androidx.work.WorkManagerInitializer"
        android:value="androidx.startup"
        tools:node="remove" />
    </provider>

    <receiver
      android:exported="false"
      android:name=".ui.reminders.ReminderReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

    <service
      android:exported="false" android:foregroundServiceType="mediaPlayback"
      android:name="org.qosp.notes.ui.media.MusicService" />

    <service
      android:exported="false" android:foregroundServiceType="microphone"
      android:name="org.qosp.notes.ui.recorder.RecorderService" />

    <service
      android:exported="false" android:foregroundServiceType="dataSync"
      android:name="org.qosp.notes.components.backup.BackupService" />
  </application>

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"
                   android:minSdkVersion="34"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"
                   android:minSdkVersion="34"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"
                   android:minSdkVersion="34"/>

</manifest>
